.displaySongsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid black;
    
}
.displaySongsDiv input{
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding-left: 8px;
}
.mappedSongs{
    width: 35%;
}
.individualDiv{
    display:flex;
    justify-content: space-between;
}
.songSearchBarDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
p{
    margin:6px;
    font-size:16px;
}
button{
    margin:6px;
    font-size:16px;
}




.renderLyrics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

.lyricsLine{
    display: flex;
}

.addSong_div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lyrics_div{
    display:flex;
    flex-direction: row;

}