


input {

    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }





.displaySongsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
.displaySongsDiv input{
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding-left: 8px;
}
.mappedSongs{
    width: 35%;
}
.individualDiv{
    display:flex;
    justify-content: space-between;
}
.songSearchBarDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
p{
    margin:6px;
    font-size:16px;
}
button{
    margin:6px;
    
}

.addSong_form label{
    font-size:20px;
    font-family: sans-serif;
    color:#f1f1f1!important;
}

.addSong_form input{
    background-color:#f1f1f1!important;
}




.renderLyrics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.lyricsLine{
    display: flex;
}

.addSong_div{
    background-color:hsla(240, 41%, 90%, 0.83);
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900;
}

.addSong_form h1{
    font-family: sans-serif;
    color: #272753;
    font-size:36px;
    
}

.lyrics_div{
    
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    width:90%;
}


.addSong_form{
   
    border: 1px solid grey;
    width: 35%;
    background-color:  #f1f1f1!important;
}

.addSong_form:first-child{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.addSong_form_top{
    padding-top:10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color:#272753;
   

}
.addSong_form_top_one{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    
    
}
.addSong_form_top_two{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
   

}



.addSong_form_bottom{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #272753;
    
}




.words{
    width:100%;
    box-sizing:border-box;
}
.addSong_button{
    border-top: 1px solid #f1f1f1!important;
    background-color:#272753;
    display:flex;
    justify-content: center;
    width:100%;
    padding-top:5px;
    padding-bottom:5px;
    
}
.addSong_form button{
    font-size:20px;
    
    color: #39635f;
}
.addSong_form button:hover{
    background-color: #39635f;
    color:#f1f1f1!important;
}

.addSong_button button{
    font-size: 30px;
    width: 165px;
    height: 40px;
   
}



.song_title{
    
    background-color: #f1f1f1!important;
    display:flex;
    justify-content: center;
    width:100%;
}

.Nav{
    display:flex;
    background-color:#272753;
    height:40px;
    align-items: center;
    
    width:100%;
    
}
.Hrefs{
    display:flex;
    width:12%;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}

.Nav a{
    padding:5px;
    color: #f1f1f1;
    font-size:16px;
    text-transform: uppercase;
    text-decoration: none;
}

.Nav a:hover{
    background-color: hsla(240, 41%, 90%, 0.83); 
    border:1px solid black;
    color: #272753;
}

.addLyrics_div{
    padding-bottom: 5px;
}


/* #a26455 */

/* #f1f1f1!important*/

/* #f6f7e2 */

/* #272753 */

/* hsla(240, 41%, 90%, 0.83); */